body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: left;
}

.card {
  width: 45%;
}

.tile-image {
  height: 200px;
  margin-right: 50px;
  float: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

#creative {
  color: midnightblue;
}

@media(max-width: 680px) {
  .logo {
    height: 25px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
  }

  .tile-image {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
  }

  .left {
    margin-bottom: 50px;
  }
  
  footer {
    text-align: right;
    color: midnightblue;
    clear: left;
  }
}